<!DOCTYPE html>
<html>
  <head>
    <title>App Permissions Request</title>
    <meta charset='utf-8'>
    <link rel='stylesheet' type='text/css' href='static/css/index.css'>
    <script src='http://code.jquery.com/jquery-1.4.2.js'></script>
  </head>
  <body>
    <section class='container'>
      <div class='center content'>
        <div class='spacer'></div>
        <img src='/static/css/image.jpg' />
        <div class='spacer'></div>
        <div class='granted' style='width:510px;'><h1>Permissions Granted, Thanks!</h1></div>
  </body>
</html>
